{
  "sourceType": "module",
  //---------------------------------------------------------------- DEVELOPMENT
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2",
        "react"
      ],
    }, // END: development
    //--------------------------------------------------------------------- TEST
    "test": {
      "presets": [
        [
          "env",
          {
            // "debug": true,
            "modules": "commonjs",
            "targets": {
              "node": "current",
            },
          }
        ],
        "react",
        "jest",
      ],
    }, // END: testing
  }
}
